<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <log_archiver>
                <enabled>1</enabled>
                <archiver_cron_schedule>0 6 * * *</archiver_cron_schedule>
            </log_archiver>
        </system>
    </default>
</config>
